h1 {
    color: blueviolet;
}

.close {    
    border-left: 1px solid grey;
    color: grey;
    padding: 11px;
  }
  
.close:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
  }


.add-button {

}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

li {
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid grey;
    padding-left: 10px;
}