h1 {
    color: blueviolet;
}

.close {    
    border-left: 1px solid grey;
    color: grey;
    padding: 11px;
  }
  
.close:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
  }

ul {
  padding: 0px;
}

li {
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid grey;
    padding-left: 10px;
}